<?xml version="1.0" encoding="UTF-8"?>
<!--  文档类型定义，简称DTD，用来验证当前的mapper(它是个XML文档)配置文件的有效性-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.mapper.UserMapper">
  <select id="findUsers" resultType="com.example.test.bean.UserBean">
    SELECT * FROM user
  </select>
  <select id="getInfo" parameterType="String" resultType="com.example.test.bean.UserBean">
    SELECT * FROM user WHERE name = #{name} AND password = #{password}
  </select>
  <insert id="insetUser" parameterType="com.example.test.bean.UserBean" useGeneratedKeys="true" keyProperty="id" >
    INSERT INTO user (name, password) VALUES (#{name}, #{password})
  </insert>
</mapper>
